<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="23.2.5" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="FreeSpire.Doc" version="11.6.0" targetFramework="net481" />
  <package id="XtraReportsControls" version="17.2.5" targetFramework="net481" />
</packages>